@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.main-layout {
  @apply max-w-[1200px] mx-auto mt-[100px] mb-[10px];
  min-height: calc(100vh - 150px);
}

.home-layout {
  width: 100%;
  background-image: url('/home/bg-image.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow-y: hidden;
}